@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Qwitcher+Grypen:wght@700&family=Source+Sans+Pro:wght@400&display=swap');

* {
    box-sizing: border-box;
}

body {
    --gradient: linear-gradient(90deg,
            hsl(132deg 24% 96%) 0%,
            hsl(126deg 39% 96%) 9%,
            hsl(120deg 50% 95%) 18%,
            hsl(113deg 62% 95%) 27%,
            hsl(107deg 72% 94%) 37%,
            hsl(101deg 79% 94%) 46%,
            hsl(95deg 85% 93%) 56%,
            hsl(90deg 88% 92%) 65%,
            hsl(85deg 91% 91%) 74%,
            hsl(80deg 92% 90%) 83%,
            hsl(75deg 93% 89%) 92%,
            hsl(71deg 93% 88%) 100%);
    padding: 0;
    margin: 0 auto;
    max-width: 1400px;
}

button {
    cursor: pointer;
    background: transparent;
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px;
}

button:hover {
    color: navy;
    background-color: hsl(84deg 83% 98%);
}

.sidebar,
.main {
    background-color: white;
}

.header {
    background-color: black;
    color: white;
    padding: 10px;
}

.header h1 {
    font-family: 'Qwitcher Grypen';
    font-size: 60pt;
    display: flex;
    justify-content: center;
    margin: 0;
}

.sidebar {
    padding: 10px 0 0 10px;
    margin-right: 40px;
    width: 400px;
    min-width: 400px;
    float: left;
}

#search-input {
    width: 300px;
    margin-bottom: 10px;
}

.main {
    height: 100vh;
}

#restaurant-info {
    padding: 0 20px;
    font-family: 'Source Sans Pro';
}

#restaurant-info h2 {
    font-family: 'Playfair Display';
    font-size: 30pt;
    margin: 20px 0 20px 0;
}

#restaurant-info p {
    max-width: 1000px;
}

#restaurant-list {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
    min-height: 100vh;
    height: 100vh;
    overflow-y: scroll;
}

.address-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: italic;
}

.address-row img {
    margin: 0 15px 0 30px;
}

.clickable {
    cursor: pointer;
}

.tagsContainerDiv {
    height: auto;
    width: auto;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 20px;
}

.descriptionTag {
    padding: 2px;
    border: 1px solid black;
    background-color: gainsboro;
    margin: 5px 5px 5px 0;

    font-size: 12px;
    width: fit-content;

    margin: 0 5px 5px 0;
    padding: 5px;
    background-image: var(--gradient);
    border-radius: 10px;
    white-space: nowrap;
    cursor: pointer;
}

.favButton {
    border: 1px solid green;
    padding: 5px;
    margin: 5px;
    user-select: none;
    cursor: pointer;
    margin-left: 420px;
    max-width: fit-content;

    border-radius: 5px;
}

.favButton span {
    text-align: center;
}

.favButtonActive {
    background-image: var(--gradient);
    color: black;
    border-color: black;
}

.ratingsContainerDiv {
    margin-left: 380px;
    display: flex;
    flex-direction: row;
}

.ratingCheckbox {
    border: 1px solid black;
    margin: 20px;
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}

.ratingCheckboxActive {
    border: 1px solid black;
    background-color: black;
    color: white;
    border-bottom: 1px solid black;
}

.clickable:hover {
    color: navy;
    background-image: var(--gradient);
    text-indent: 10px;
}

#input-selected-tags-div {
    margin: 10px 0;
}

#input-selected-tags-div>div {
    margin: 5px 0;
    padding: 5px;
    text-indent: 10px;
    background-image: var(--gradient);
    border-radius: 10px;
}

#input-selected-tags-div button {
    font-size: 1.1rem;
    background-color: transparent;
    color: purple;
}

#detailed-search-form label {
    display: block;
    padding-top: 10px;
    margin-bottom: 5px;
}

#detailed-form-submit {
    font-size: 1.2rem;
    margin: 20px 0;
}

.submitCommentBtn {
    border: 1px solid green;
    padding: 5px;
    margin: 5px;
    user-select: none;
    cursor: pointer;
    margin-left: 420px;
    max-width: fit-content;

    border-radius: 5px;
}

.commentDiv {
    border-radius: 10px;
    border: solid 1px black;
    margin: 10px 0;
    margin-left: 380px;
    padding: 10px;
}

.commentDiv .commentName {
    font-size: 16px;
    font-weight: bold;
}